<div *ngIf="transaction">
  <h2>Transaction Detail</h2>
  <form (ngSubmit)="save()">
    <div class="form-group">
      <label>ID: {{transaction.id}}</label>
    </div>
    <div class="form-group">
      <label>Date: {{transaction.date.toString().split("T")[0].split("-")[2]}}/{{transaction.date.toString().split("T")[0].split("-")[1]}}/{{transaction.date.toString().split("T")[0].split("-")[0]}}</label>
    </div>

    <div class="form-group">
      <label for="comments">Comments</label>
      <input id="comments" class="form-control" [(ngModel)]="transaction.Comments" name="comments" required pattern="[A-Za-z0-9 ]*">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
